USE [master]
GO
/****** Object:  Database [Moodflix]    Script Date: 11/17/2025 1:10:17 PM ******/
CREATE DATABASE [Moodflix]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Moodflix', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Moodflix.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Moodflix_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Moodflix_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Moodflix].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Moodflix]
GO
/****** Object:  UserDefinedTableType [dbo].[IntListType]    Script Date: 11/17/2025 1:10:17 PM ******/
CREATE TYPE [dbo].[IntListType] AS TABLE(
	[Id] [int] NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_EsAncestro]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_EsAncestro]
(
    @IdAncestro    INT,
    @IdDescendiente INT
)
RETURNS BIT
AS
BEGIN
    IF @IdAncestro = @IdDescendiente
        RETURN 1;

    DECLARE @resultado BIT = 0;

    WITH Ancestros AS
    (
        SELECT p.IdPadre
        FROM dbo.Permiso_Permiso AS p
        WHERE p.IdHijo = @IdDescendiente

        UNION ALL

        SELECT pp.IdPadre
        FROM dbo.Permiso_Permiso AS pp
        INNER JOIN Ancestros a ON pp.IdHijo = a.IdPadre
    )
    SELECT @resultado = 1
    WHERE EXISTS (SELECT 1
                  FROM Ancestros
                  WHERE IdPadre = @IdAncestro);

    RETURN @resultado;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_EsFamilia]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Función auxiliar para la restricción CHECK (necesaria en SQL Server)
CREATE FUNCTION [dbo].[fn_EsFamilia] (@PermisoId INT)
RETURNS BIT
AS
BEGIN
    DECLARE @EsFamilia BIT;
    SELECT @EsFamilia = EsFamilia FROM Permiso WHERE Id = @PermisoId;
    RETURN @EsFamilia;
END;
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[UsuarioId] [int] NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Operacion] [nvarchar](50) NOT NULL,
	[Criticidad] [int] NOT NULL,
	[Mensaje] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK__Bitacora__3214EC07272F4C67] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PedidoId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Calle] [nvarchar](200) NOT NULL,
	[Ciudad] [nvarchar](100) NOT NULL,
	[CodigoPostal] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVH]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVH](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [varchar](100) NOT NULL,
	[RegistroId] [int] NOT NULL,
	[DVH] [varchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [varchar](100) NOT NULL,
	[Columna] [varchar](100) NOT NULL,
	[DVV] [varchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emocion]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emocion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[UrlImagen] [nvarchar](2048) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETIQUETA]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETIQUETA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[SECCION] [varchar](50) NULL,
	[DESCRIPCION] [varchar](255) NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDIOMA]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDIOMA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](10) NOT NULL,
	[IDIOMA] [varchar](50) NOT NULL,
	[PREESTABLECIDO] [bit] NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[BANDERA] [varchar](10) NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[Id] [int] NOT NULL,
	[Autor] [nvarchar](200) NOT NULL,
	[Editorial] [nvarchar](200) NOT NULL,
	[ISBN] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaPedido] [datetime] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[DireccionEnvioId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[Id] [int] NOT NULL,
	[Director] [nvarchar](200) NOT NULL,
	[Productora] [nvarchar](200) NOT NULL,
	[AnioLanzamiento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[EsFamilia] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso_Permiso]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_Permiso](
	[IdPadre] [int] NOT NULL,
	[IdHijo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPadre] ASC,
	[IdHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[UrlImagen] [nvarchar](2048) NULL,
	[Tipo] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoEmocion]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoEmocion](
	[ProductoId] [int] NOT NULL,
	[EmocionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC,
	[EmocionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRADUCCION]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRADUCCION](
	[ID_IDIOMA] [int] NOT NULL,
	[ID_ETIQUETA] [int] NOT NULL,
	[TRADUCCION] [varchar](500) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_IDIOMA] ASC,
	[ID_ETIQUETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[ID_IDIOMA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Permiso]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Permiso](
	[UsuarioId] [int] NOT NULL,
	[PermisoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id], [Fecha], [UsuarioId], [Modulo], [Operacion], [Criticidad], [Mensaje]) VALUES (1, CAST(N'2025-10-13T05:49:38.817' AS DateTime), 1, N'InicioSesion', N'Login', 1, N'El usuario ''admin'' ha iniciado sesión exitosamente.')
INSERT [dbo].[Bitacora] ([Id], [Fecha], [UsuarioId], [Modulo], [Operacion], [Criticidad], [Mensaje]) VALUES (2, CAST(N'2025-10-13T05:49:50.543' AS DateTime), 1, N'Backup', N'GeneracionBackup', 4, N'Usuario admin generó un backup.')
INSERT [dbo].[Bitacora] ([Id], [Fecha], [UsuarioId], [Modulo], [Operacion], [Criticidad], [Mensaje]) VALUES (3, CAST(N'2025-10-13T05:51:07.747' AS DateTime), 1, N'Backup', N'GeneracionBackup', 4, N'Usuario admin generó un backup.')
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Direccion] ON 

INSERT [dbo].[Direccion] ([Id], [UsuarioId], [Calle], [Ciudad], [CodigoPostal]) VALUES (1, 3, N'Avenida Siempreviva 742', N'Springfield', N'B1875')
SET IDENTITY_INSERT [dbo].[Direccion] OFF
GO
SET IDENTITY_INSERT [dbo].[DVH] ON 

INSERT [dbo].[DVH] ([Id], [Tabla], [RegistroId], [DVH]) VALUES (1, N'Libros', 1, N'12D0062EE6A7AAAA9B63FDCA69ED3BCA325AA9ED69702A7D40303CBC8DAED2FB')
INSERT [dbo].[DVH] ([Id], [Tabla], [RegistroId], [DVH]) VALUES (2, N'Libros', 2, N'5226CB51876C744E13631329BDD4AF68BD00DFCB37B6E56EB2843DF4091BEC4B')
INSERT [dbo].[DVH] ([Id], [Tabla], [RegistroId], [DVH]) VALUES (3, N'Libros', 3, N'082D39510E9DA9FA50DB8007ABE38F5D7FC8E24BC35D7AFE872A097F20856F10')
SET IDENTITY_INSERT [dbo].[DVH] OFF
GO
SET IDENTITY_INSERT [dbo].[DVV] ON 

INSERT [dbo].[DVV] ([Id], [Tabla], [Columna], [DVV]) VALUES (1, N'Libros', N'Id', N'A7EF9D0560E2144949045A322A88B84796B7266688A6DB1EB0D1A1688BF16950')
INSERT [dbo].[DVV] ([Id], [Tabla], [Columna], [DVV]) VALUES (2, N'Libros', N'Nombre', N'27E387252658BEF7177F138C8FDE8D2E0D470B5967C7520420465663EDCD1581')
INSERT [dbo].[DVV] ([Id], [Tabla], [Columna], [DVV]) VALUES (3, N'Libros', N'Descripcion', N'25A5A4FB82C40A4F57CD1AFD47D6CF42952AEFCB05D2CE526C4FC4B6BBB347B2')
SET IDENTITY_INSERT [dbo].[DVV] OFF
GO
SET IDENTITY_INSERT [dbo].[Emocion] ON 

INSERT [dbo].[Emocion] ([Id], [Nombre], [UrlImagen]) VALUES (1, N'Felicidad', N'/images/emociones/felicidad.png')
INSERT [dbo].[Emocion] ([Id], [Nombre], [UrlImagen]) VALUES (2, N'Tristeza', N'/images/emociones/tristeza.png')
INSERT [dbo].[Emocion] ([Id], [Nombre], [UrlImagen]) VALUES (3, N'Enojo', N'/images/emociones/enojo.png')
SET IDENTITY_INSERT [dbo].[Emocion] OFF
GO
SET IDENTITY_INSERT [dbo].[ETIQUETA] ON 

INSERT [dbo].[ETIQUETA] ([ID], [NOMBRE], [SECCION], [DESCRIPCION], [FECHA_CREACION]) VALUES (1, N'common.loading', N'common', N'Texto de carga', CAST(N'2025-11-16T20:38:04.177' AS DateTime))
INSERT [dbo].[ETIQUETA] ([ID], [NOMBRE], [SECCION], [DESCRIPCION], [FECHA_CREACION]) VALUES (2, N'common.error', N'common', N'Texto de error', CAST(N'2025-11-16T20:38:04.177' AS DateTime))
INSERT [dbo].[ETIQUETA] ([ID], [NOMBRE], [SECCION], [DESCRIPCION], [FECHA_CREACION]) VALUES (3, N'common.success', N'common', N'Texto de éxito', CAST(N'2025-11-16T20:38:04.177' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ETIQUETA] OFF
GO
SET IDENTITY_INSERT [dbo].[IDIOMA] ON 

INSERT [dbo].[IDIOMA] ([ID], [CODIGO], [IDIOMA], [PREESTABLECIDO], [ACTIVO], [BANDERA], [FECHA_CREACION]) VALUES (1, N'es', N'Español', 1, 1, N'????', CAST(N'2025-11-16T20:37:29.343' AS DateTime))
INSERT [dbo].[IDIOMA] ([ID], [CODIGO], [IDIOMA], [PREESTABLECIDO], [ACTIVO], [BANDERA], [FECHA_CREACION]) VALUES (2, N'en', N'English', 0, 1, N'????', CAST(N'2025-11-16T20:37:29.343' AS DateTime))
SET IDENTITY_INSERT [dbo].[IDIOMA] OFF
GO
INSERT [dbo].[Libro] ([Id], [Autor], [Editorial], [ISBN]) VALUES (1, N'Gabriel García Márquez', N'Sudamericana', N'978-0307474728')
INSERT [dbo].[Libro] ([Id], [Autor], [Editorial], [ISBN]) VALUES (2, N'George Orwell', N'Debolsillo', N'978-0451524935')
INSERT [dbo].[Libro] ([Id], [Autor], [Editorial], [ISBN]) VALUES (3, N'J.R.R. Tolkien', N'Minotauro', N'978-0618640157')
GO
INSERT [dbo].[Pelicula] ([Id], [Director], [Productora], [AnioLanzamiento]) VALUES (4, N'Francis Ford Coppola', N'Paramount Pictures', 1972)
INSERT [dbo].[Pelicula] ([Id], [Director], [Productora], [AnioLanzamiento]) VALUES (5, N'Quentin Tarantino', N'Miramax', 1994)
INSERT [dbo].[Pelicula] ([Id], [Director], [Productora], [AnioLanzamiento]) VALUES (6, N'Christopher Nolan', N'Warner Bros.', 2014)
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([Id], [Nombre], [EsFamilia]) VALUES (15, N'VER_BITACORA', 0)
INSERT [dbo].[Permiso] ([Id], [Nombre], [EsFamilia]) VALUES (16, N'GESTIONAR_BACKUP', 0)
INSERT [dbo].[Permiso] ([Id], [Nombre], [EsFamilia]) VALUES (17, N'GESTIONAR_USUARIOS', 0)
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[Permiso_Permiso] ([IdPadre], [IdHijo]) VALUES (26, 17)
INSERT [dbo].[Permiso_Permiso] ([IdPadre], [IdHijo]) VALUES (26, 18)
INSERT [dbo].[Permiso_Permiso] ([IdPadre], [IdHijo]) VALUES (26, 19)
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [UrlImagen], [Tipo]) VALUES (1, N'Cien Años de Soledad', N'La obra maestra de Gabriel García Márquez.', CAST(18.50 AS Decimal(10, 2)), 40, N'/images/libros/cien_anos.jpg', N'Libro')
INSERT [dbo].[Producto] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [UrlImagen], [Tipo]) VALUES (2, N'1984', N'Una novela distópica sobre el totalitarismo.', CAST(14.20 AS Decimal(10, 2)), 60, N'/images/libros/1984.jpg', N'Libro')
INSERT [dbo].[Producto] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [UrlImagen], [Tipo]) VALUES (3, N'El Señor de los Anillos', N'La comunidad del anillo inicia su viaje.', CAST(25.00 AS Decimal(10, 2)), 30, N'/images/libros/esdla.jpg', N'Libro')
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
INSERT [dbo].[ProductoEmocion] ([ProductoId], [EmocionId]) VALUES (2, 2)
INSERT [dbo].[ProductoEmocion] ([ProductoId], [EmocionId]) VALUES (4, 3)
INSERT [dbo].[ProductoEmocion] ([ProductoId], [EmocionId]) VALUES (2, 4)
GO
INSERT [dbo].[TRADUCCION] ([ID_IDIOMA], [ID_ETIQUETA], [TRADUCCION], [FECHA_MODIFICACION]) VALUES (1, 1, N'Cargando...', NULL)
INSERT [dbo].[TRADUCCION] ([ID_IDIOMA], [ID_ETIQUETA], [TRADUCCION], [FECHA_MODIFICACION]) VALUES (1, 2, N'Error', NULL)
INSERT [dbo].[TRADUCCION] ([ID_IDIOMA], [ID_ETIQUETA], [TRADUCCION], [FECHA_MODIFICACION]) VALUES (1, 3, N'Éxito', NULL)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [Email], [PasswordHash], [IntentosFallidos], [Bloqueado], [ID_IDIOMA]) VALUES (1, N'admin', N'admin@moodflix.com', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', 0, 0, NULL)
INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [Email], [PasswordHash], [IntentosFallidos], [Bloqueado], [ID_IDIOMA]) VALUES (2, N'editor', N'editor@moodflix.com', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', 3, 1, NULL)
INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [Email], [PasswordHash], [IntentosFallidos], [Bloqueado], [ID_IDIOMA]) VALUES (3, N'cliente', N'cliente@moodflix.com', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[Usuario_Permiso] ([UsuarioId], [PermisoId]) VALUES (1, 26)
INSERT [dbo].[Usuario_Permiso] ([UsuarioId], [PermisoId]) VALUES (6, 27)
GO
/****** Object:  Index [IDX_DetallePedido_PedidoId]    Script Date: 11/17/2025 1:10:17 PM ******/
CREATE NONCLUSTERED INDEX [IDX_DetallePedido_PedidoId] ON [dbo].[DetallePedido]
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DetallePedido_ProductoId]    Script Date: 11/17/2025 1:10:17 PM ******/
CREATE NONCLUSTERED INDEX [IDX_DetallePedido_ProductoId] ON [dbo].[DetallePedido]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Emocion__75E3EFCF31C8B343]    Script Date: 11/17/2025 1:10:17 PM ******/
ALTER TABLE [dbo].[Emocion] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ETIQUETA__B21D0AB9C3D1482B]    Script Date: 11/17/2025 1:10:17 PM ******/
ALTER TABLE [dbo].[ETIQUETA] ADD UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__IDIOMA__CC87E1266DB9F504]    Script Date: 11/17/2025 1:10:17 PM ******/
ALTER TABLE [dbo].[IDIOMA] ADD UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Libro__447D36EAE67A77AA]    Script Date: 11/17/2025 1:10:17 PM ******/
ALTER TABLE [dbo].[Libro] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Pedido_UsuarioId]    Script Date: 11/17/2025 1:10:17 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Pedido_UsuarioId] ON [dbo].[Pedido]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permiso__75E3EFCFEA44E4D3]    Script Date: 11/17/2025 1:10:17 PM ******/
ALTER TABLE [dbo].[Permiso] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Producto_Nombre]    Script Date: 11/17/2025 1:10:17 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Producto_Nombre] ON [dbo].[Producto]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Producto_Precio]    Script Date: 11/17/2025 1:10:17 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Producto_Precio] ON [dbo].[Producto]
(
	[Precio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_ProductoEmocion_EmocionId]    Script Date: 11/17/2025 1:10:17 PM ******/
CREATE NONCLUSTERED INDEX [IDX_ProductoEmocion_EmocionId] ON [dbo].[ProductoEmocion]
(
	[EmocionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__A9D1053448F5C7D0]    Script Date: 11/17/2025 1:10:17 PM ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__A9D10534950A1CB4]    Script Date: 11/17/2025 1:10:17 PM ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedido] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Producto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_DireccionEnvio] FOREIGN KEY([DireccionEnvioId])
REFERENCES [dbo].[Direccion] ([Id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_DireccionEnvio]
GO
ALTER TABLE [dbo].[Pelicula]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Producto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permiso_Permiso]  WITH CHECK ADD FOREIGN KEY([IdHijo])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Permiso_Permiso]  WITH CHECK ADD  CONSTRAINT [FK__Permiso_P__IdPad__70DDC3D8] FOREIGN KEY([IdPadre])
REFERENCES [dbo].[Permiso] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Permiso_Permiso] CHECK CONSTRAINT [FK__Permiso_P__IdPad__70DDC3D8]
GO
ALTER TABLE [dbo].[ProductoEmocion]  WITH CHECK ADD FOREIGN KEY([EmocionId])
REFERENCES [dbo].[Emocion] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductoEmocion]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRADUCCION]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Etiqueta] FOREIGN KEY([ID_ETIQUETA])
REFERENCES [dbo].[ETIQUETA] ([ID])
GO
ALTER TABLE [dbo].[TRADUCCION] CHECK CONSTRAINT [FK_Traduccion_Etiqueta]
GO
ALTER TABLE [dbo].[TRADUCCION]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([ID_IDIOMA])
REFERENCES [dbo].[IDIOMA] ([ID])
GO
ALTER TABLE [dbo].[TRADUCCION] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([ID_IDIOMA])
REFERENCES [dbo].[IDIOMA] ([ID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD FOREIGN KEY([PermisoId])
REFERENCES [dbo].[Permiso] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [CK__Pedido__Estado__4D94879B] CHECK  (([Estado]='Cancelado' OR [Estado]='Completado' OR [Estado]='Enviado' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [CK__Pedido__Estado__4D94879B]
GO
ALTER TABLE [dbo].[Permiso_Permiso]  WITH CHECK ADD  CONSTRAINT [CK_Permiso_PadreDebeSerFamilia] CHECK  (([dbo].[fn_EsFamilia]([IdPadre])=(1)))
GO
ALTER TABLE [dbo].[Permiso_Permiso] CHECK CONSTRAINT [CK_Permiso_PadreDebeSerFamilia]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK_Producto_Tipo] CHECK  (([Tipo]='Pelicula' OR [Tipo]='Libro'))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK_Producto_Tipo]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEmocion]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. SP para ACTUALIZAR una emocion
CREATE PROCEDURE [dbo].[sp_ActualizarEmocion]
    @Id INT,
    @Nombre NVARCHAR(100),
    @UrlImagen NVARCHAR(2048)
AS
BEGIN
    UPDATE Emocion
    SET Nombre = @Nombre,
        UrlImagen = @UrlImagen
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEstadoPedido]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ActualizarEstadoPedido]
    @PedidoId INT,
    @NuevoEstado NVARCHAR(20)  -- match con Pedido.Estado
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Pedido
    SET Estado = @NuevoEstado
    WHERE Id = @PedidoId;
    -- El CHECK de la tabla se encarga de validar el valor.
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarLibro]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ActualizarLibro]
    @Id INT,
    @Nombre NVARCHAR(200),
    @Descripcion NVARCHAR(1000),
    @Precio DECIMAL(10,2),
    @Stock INT,
    @UrlImagen NVARCHAR(2048),
    @Autor NVARCHAR(200),
    @Editorial NVARCHAR(200),
    @ISBN NVARCHAR(20),
    @EmocionesIds NVARCHAR(MAX) = NULL  -- IDs separados por comas: '1,2,3'
AS
BEGIN
    BEGIN TRANSACTION;
    
    -- Actualizar producto
    UPDATE Producto
    SET Nombre      = @Nombre,
        Descripcion = @Descripcion,
        Precio      = @Precio,
        Stock       = @Stock,
        UrlImagen   = @UrlImagen
    WHERE Id = @Id;
    
    -- Actualizar libro
    UPDATE Libro
    SET Autor     = @Autor,
        Editorial = @Editorial,
        ISBN      = @ISBN
    WHERE Id = @Id;
    
    -- Actualizar emociones
    DELETE FROM ProductoEmocion
    WHERE ProductoId = @Id;
    
    IF @EmocionesIds IS NOT NULL AND LEN(@EmocionesIds) > 0
    BEGIN
        INSERT INTO ProductoEmocion (ProductoId, EmocionId)
        SELECT @Id, CAST(value AS INT)
        FROM STRING_SPLIT(@EmocionesIds, ',')
        WHERE RTRIM(value) <> '';
    END
    
    COMMIT TRANSACTION;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarPelicula]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ActualizarPelicula]
    @Id INT,
    @Nombre NVARCHAR(200),
    @Descripcion NVARCHAR(1000),
    @Precio DECIMAL(10,2),
    @Stock INT,
    @UrlImagen NVARCHAR(2048),
    @Director NVARCHAR(200),
    @Productora NVARCHAR(200),
    @AnioLanzamiento INT,
    @EmocionesIds NVARCHAR(MAX) = NULL  -- IDs separados por comas: '1,2,3'
AS
BEGIN
    BEGIN TRANSACTION;
    
    -- Actualizar producto
    UPDATE Producto
    SET Nombre      = @Nombre,
        Descripcion = @Descripcion,
        Precio      = @Precio,
        Stock       = @Stock,
        UrlImagen   = @UrlImagen
    WHERE Id = @Id;
    
    -- Actualizar película
    UPDATE Pelicula
    SET Director        = @Director,
        Productora      = @Productora,
        AnioLanzamiento = @AnioLanzamiento
    WHERE Id = @Id;
    
    -- Actualizar emociones
    DELETE FROM ProductoEmocion
    WHERE ProductoId = @Id;
    
    IF @EmocionesIds IS NOT NULL AND LEN(@EmocionesIds) > 0
    BEGIN
        INSERT INTO ProductoEmocion (ProductoId, EmocionId)
        SELECT @Id, CAST(value AS INT)
        FROM STRING_SPLIT(@EmocionesIds, ',')
        WHERE RTRIM(value) <> '';
    END
    
    COMMIT TRANSACTION;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarPermiso]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualiza el nombre de un Permiso
CREATE PROCEDURE [dbo].[sp_ActualizarPermiso]
    @Id INT,
    @Nombre NVARCHAR(100),
	@EsFamilia BIT
AS
BEGIN
    UPDATE Permiso 
	SET Nombre = @Nombre,
		EsFamilia = @EsFamilia
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
    @Id INT,
    @NombreUsuario NVARCHAR(100),
    @Email NVARCHAR(200),
    @PasswordHash NVARCHAR(256),
    @IntentosFallidos INT,
    @Bloqueado BIT
AS
BEGIN
    UPDATE Usuario
    SET NombreUsuario = @NombreUsuario,
        Email = @Email,
        PasswordHash = @PasswordHash,
        IntentosFallidos = @IntentosFallidos,
        Bloqueado = @Bloqueado
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarDetallePedido]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AgregarDetallePedido]
    @PedidoId INT,
    @ProductoId INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO DetallePedido (PedidoId, ProductoId, Cantidad, PrecioUnitario)
    VALUES (@PedidoId, @ProductoId, @Cantidad, @PrecioUnitario);
    
    -- Actualizar stock del producto
    UPDATE Producto
    SET Stock = Stock - @Cantidad
    WHERE Id = @ProductoId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarHijoAFamilia]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Agrega un hijo a una familia.
CREATE PROCEDURE [dbo].[sp_AgregarHijoAFamilia]
    @IdPadre INT,
    @IdHijo INT
AS
BEGIN
    INSERT INTO Permiso_Permiso (IdPadre, IdHijo) VALUES (@IdPadre, @IdHijo);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BorrarBitacora]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. SP para BORRAR un evento
CREATE PROCEDURE [dbo].[sp_BorrarBitacora]
    @Id INT
AS
BEGIN
    DELETE FROM Bitacora WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_BorrarEmocion]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. SP para BORRAR una emocion
CREATE PROCEDURE [dbo].[sp_BorrarEmocion]
    @Id INT
AS
BEGIN
    DELETE FROM Emocion WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BorrarPermiso]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Borra un permiso. La BD se encargará de borrar las relaciones en cascada.
CREATE PROCEDURE [dbo].[sp_BorrarPermiso]
    @Id INT
AS
BEGIN
    DELETE FROM Permiso WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BorrarProducto]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 7. SP para BORRAR un Producto (Libro o Pelicula)
CREATE PROCEDURE [dbo].[sp_BorrarProducto]
    @Id INT
AS
BEGIN
    DELETE FROM Producto WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BorrarUsuario]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BorrarUsuario]
    @Id INT
AS
BEGIN
    DELETE FROM Usuario WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearEmocion]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. SP para CREAR una emocion
CREATE PROCEDURE [dbo].[sp_CrearEmocion]
    @Nombre NVARCHAR(100),
    @UrlImagen NVARCHAR(2048)
AS
BEGIN
    INSERT INTO Emocion (Nombre, UrlImagen)
    VALUES (@Nombre, @UrlImagen);
    SELECT SCOPE_IDENTITY(); -- Devuelve el ID del nuevo registro
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearLibro]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1) CREAR LIBRO CON EMOCIONES
CREATE   PROCEDURE [dbo].[sp_CrearLibro]
    @Nombre NVARCHAR(200),
    @Descripcion NVARCHAR(1000),
    @Precio DECIMAL(10,2),
    @Stock INT,
    @UrlImagen NVARCHAR(2048),
    @Autor NVARCHAR(200),
    @Editorial NVARCHAR(200),
    @ISBN NVARCHAR(20),
    @EmocionesIds NVARCHAR(MAX) = NULL  -- IDs separados por comas: '1,2,3'
AS
BEGIN
    BEGIN TRANSACTION;
    
    -- Insertar producto
    INSERT INTO Producto (Nombre, Descripcion, Precio, Stock, UrlImagen, Tipo)
    VALUES (@Nombre, @Descripcion, @Precio, @Stock, @UrlImagen, 'Libro');
    
    DECLARE @ProductoId INT = SCOPE_IDENTITY();
    
    -- Insertar libro
    INSERT INTO Libro (Id, Autor, Editorial, ISBN)
    VALUES (@ProductoId, @Autor, @Editorial, @ISBN);
    
    -- Insertar emociones si se proporcionaron
    IF @EmocionesIds IS NOT NULL AND LEN(@EmocionesIds) > 0
    BEGIN
        INSERT INTO ProductoEmocion (ProductoId, EmocionId)
        SELECT @ProductoId, CAST(value AS INT)
        FROM STRING_SPLIT(@EmocionesIds, ',')
        WHERE RTRIM(value) <> '';
    END
    
    COMMIT TRANSACTION;
    
    SELECT @ProductoId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearPedido]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6) CREAR PEDIDO
CREATE   PROCEDURE [dbo].[sp_CrearPedido]
    @UsuarioId INT,
    @DireccionEnvioId INT,
    @Total DECIMAL(12,2),              -- match con Pedido.Total
    @Estado NVARCHAR(20) = 'Pendiente' -- uno de los estados válidos del CHECK
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Pedido (UsuarioId, FechaPedido, Total, Estado, DireccionEnvioId)
    VALUES (@UsuarioId, GETDATE(), @Total, @Estado, @DireccionEnvioId);
    
    SELECT SCOPE_IDENTITY() AS PedidoId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearPelicula]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CrearPelicula]
    @Nombre NVARCHAR(200),
    @Descripcion NVARCHAR(1000),
    @Precio DECIMAL(10,2),
    @Stock INT,
    @UrlImagen NVARCHAR(2048),
    @Director NVARCHAR(200),
    @Productora NVARCHAR(200),
    @AnioLanzamiento INT,
    @EmocionesIds NVARCHAR(MAX) = NULL  -- IDs separados por comas: '1,2,3'
AS
BEGIN
    BEGIN TRANSACTION;
    
    -- Insertar producto
    INSERT INTO Producto (Nombre, Descripcion, Precio, Stock, UrlImagen, Tipo)
    VALUES (@Nombre, @Descripcion, @Precio, @Stock, @UrlImagen, 'Pelicula');
    
    DECLARE @ProductoId INT = SCOPE_IDENTITY();
    
    -- Insertar película
    INSERT INTO Pelicula (Id, Director, Productora, AnioLanzamiento)
    VALUES (@ProductoId, @Director, @Productora, @AnioLanzamiento);
    
    -- Insertar emociones si se proporcionaron
    IF @EmocionesIds IS NOT NULL AND LEN(@EmocionesIds) > 0
    BEGIN
        INSERT INTO ProductoEmocion (ProductoId, EmocionId)
        SELECT @ProductoId, CAST(value AS INT)
        FROM STRING_SPLIT(@EmocionesIds, ',')
        WHERE RTRIM(value) <> '';
    END
    
    COMMIT TRANSACTION;
    
    SELECT @ProductoId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearPermiso]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- === Stored Procedures para Permiso (CRUD) ===
-- =============================================

-- Crea una nueva Patente o Familia
CREATE PROCEDURE [dbo].[sp_CrearPermiso]
    @Nombre NVARCHAR(100),
    @EsFamilia BIT
AS
BEGIN
    INSERT INTO Permiso (Nombre, EsFamilia) VALUES (@Nombre, @EsFamilia);
    SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearUsuario]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Actualizar los Stored Procedures

CREATE PROCEDURE [dbo].[sp_CrearUsuario]
    @NombreUsuario NVARCHAR(100),
    @Email NVARCHAR(200),
    @PasswordHash NVARCHAR(256) -- Revertido a @PasswordHash
AS
BEGIN
    INSERT INTO Usuario (NombreUsuario, Email, PasswordHash, IntentosFallidos, Bloqueado)
    VALUES (@NombreUsuario, @Email, @PasswordHash, 0, 0);
    SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerarBackup]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GenerarBackup]
    @ruta NVARCHAR(1000)
AS
BEGIN
    IF LTRIM(RTRIM(@ruta)) = ''
    BEGIN
        RAISERROR('La ruta para el backup no puede estar vacía.', 16, 1);
        RETURN -1;
    END

    DECLARE @nombreBackup NVARCHAR(500);
    SET @nombreBackup = N'Moodflix-Backup-' + FORMAT(GETDATE(), 'yyyy-MM-dd-HHmmss');

    DECLARE @sqlCommand NVARCHAR(2000);
    SET @sqlCommand = N'BACKUP DATABASE [Moodflix] TO DISK = ''' + @ruta + N''' WITH NOFORMAT, INIT, NAME = ''' + @nombreBackup + N''', SKIP, NOREWIND, NOUNLOAD, STATS = 10';

    BEGIN TRY
        EXEC sp_executesql @sqlCommand;
        RETURN 1; 
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
        RETURN -1; 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarPermisosDeUsuario]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GuardarPermisosDeUsuario]
    @UsuarioId INT,
    @PermisosIdsDataTable AS dbo.IntListType READONLY
AS
BEGIN

    BEGIN TRANSACTION;

    DELETE FROM Usuario_Permiso WHERE UsuarioId = @UsuarioId;

    INSERT INTO Usuario_Permiso (UsuarioId, PermisoId)
    SELECT @UsuarioId, Id FROM @PermisosIdsDataTable;

    COMMIT TRANSACTION;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarBitacora]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- === Stored Procedures para Bitacora (NVARCHAR) ===
-- =============================================

-- 1. SP para INSERTAR (Actualizado)
create PROCEDURE [dbo].[sp_InsertarBitacora]
    @Fecha DATETIME,
    @UsuarioId INT,
    @Modulo NVARCHAR(50),      -- Cambiado a NVARCHAR
    @Operacion NVARCHAR(50),   -- Cambiado a NVARCHAR
    @Criticidad INT,
    @Mensaje NVARCHAR(500)     -- Cambiado a NVARCHAR
AS
BEGIN
    INSERT INTO Bitacora (Fecha, UsuarioId, Modulo, Operacion, Criticidad, Mensaje)
    VALUES (@Fecha, @UsuarioId, @Modulo, @Operacion, @Criticidad, @Mensaje);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarBitacora]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarBitacora]
    -- Parámetros de filtro (opcionales)
    @UsuarioId INT = NULL,
    @Criticidad INT = NULL,
    @FechaDesde DATETIME = NULL,
    @FechaHasta DATETIME = NULL
AS
BEGIN
    SELECT 
        b.Id,
        b.Fecha,
        b.UsuarioId,
        ISNULL(u.NombreUsuario, 'SISTEMA') AS NombreUsuario,
        b.Modulo,
        b.Operacion,
        b.Criticidad,
        b.Mensaje
    FROM Bitacora b
    LEFT JOIN Usuario u ON b.UsuarioId = u.Id 
    WHERE

        (@UsuarioId IS NULL OR b.UsuarioId = @UsuarioId) AND
        (@Criticidad IS NULL OR b.Criticidad = @Criticidad) AND
        (@FechaDesde IS NULL OR b.Fecha >= @FechaDesde) AND
        (@FechaHasta IS NULL OR b.Fecha <= @FechaHasta)
    ORDER BY b.Fecha DESC; 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEmociones]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. SP para OBTENER TODAS las emociones
CREATE PROCEDURE [dbo].[sp_ListarEmociones]
AS
BEGIN
    SELECT Id, Nombre, UrlImagen FROM Emocion;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarLibros]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarLibros]
AS
BEGIN
    -- Evita que se envíen mensajes de "filas afectadas" al cliente
    SET NOCOUNT ON;

    -- Seleccionamos todas las columnas de ambas tablas
    SELECT 
        -- Columnas de Producto
        p.Id,
        p.Nombre,
        p.Descripcion,
        p.Precio,
        p.Stock,
        p.UrlImagen,
        p.Tipo,
        
        -- Columnas de Libro
        l.Autor,
        l.Editorial,
        l.ISBN
    FROM 
        dbo.Producto p
    INNER JOIN 
        dbo.Libro l ON p.Id = l.Id; -- Unimos por el Id que comparten
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarPedidosPorUsuario]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ListarPedidosPorUsuario]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        UsuarioId,
        FechaPedido,
        Total,
        Estado,
        DireccionEnvioId
    FROM Pedido
    WHERE UsuarioId = @UsuarioId
    ORDER BY FechaPedido DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarPeliculas]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarPeliculas]
AS
BEGIN
    SET NOCOUNT ON;

    -- Seleccionamos todas las columnas de ambas tablas
    SELECT 
        -- Columnas de Producto
        p.Id,
        p.Nombre,
        p.Descripcion,
        p.Precio,
        p.Stock,
        p.UrlImagen,
        p.Tipo,
        
        -- Columnas de Pelicula
        pel.Director,
        pel.Productora,
        pel.AnioLanzamiento
    FROM 
        dbo.Producto p
    INNER JOIN 
        dbo.Pelicula pel ON p.Id = pel.Id; -- Unimos por el Id que comparten
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarPermisosCompletos]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_ListarPermisosCompletos]
AS
BEGIN

    SELECT Id, Nombre, EsFamilia FROM Permiso;

    SELECT IdPadre, IdHijo FROM Permiso_Permiso;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarPermisosDeUsuario]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_ListarPermisosDeUsuario]
    @UsuarioId INT
AS
BEGIN

    ;WITH PermisosRecursivos AS (

        SELECT p.Id, p.Nombre, p.EsFamilia
        FROM Usuario_Permiso up
        JOIN Permiso p ON up.PermisoId = p.Id
        WHERE up.UsuarioId = @UsuarioId

        UNION ALL


        SELECT hijo.Id, hijo.Nombre, hijo.EsFamilia
        FROM Permiso_Permiso pp
        JOIN Permiso hijo ON pp.IdHijo = hijo.Id
        -- El JOIN recursivo se hace con la misma CTE
        JOIN PermisosRecursivos pr ON pp.IdPadre = pr.Id
    )

    SELECT DISTINCT Id, Nombre, EsFamilia
    FROM PermisosRecursivos;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductos]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. SP para OBTENER TODOS los productos (Libros y Peliculas)
CREATE PROCEDURE [dbo].[sp_ListarProductos]
AS
BEGIN
    SELECT 
        p.Id, p.Nombre, p.Descripcion, p.Precio, p.Stock, p.UrlImagen, p.Tipo,
        l.Autor, l.Editorial, l.ISBN,
        m.Director, m.Productora, m.AnioLanzamiento
    FROM Producto p
    LEFT JOIN Libro l ON p.Id = l.Id AND p.Tipo = 'Libro'
    LEFT JOIN Pelicula m ON p.Id = m.Id AND p.Tipo = 'Pelicula';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarUsuarios]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarUsuarios]
AS
BEGIN
    SELECT Id, NombreUsuario, Email, PasswordHash, IntentosFallidos, Bloqueado
    FROM Usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarUsuariosPorIds]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarUsuariosPorIds]

    @Ids AS dbo.IntListType READONLY
AS
BEGIN
    SELECT 
        u.Id, u.NombreUsuario, u.Email, u.PasswordHash, 
        u.IntentosFallidos, u.Bloqueado
    FROM Usuario u

    INNER JOIN @Ids i ON u.Id = i.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerArbolPermisosDeUsuario]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ObtenerArbolPermisosDeUsuario]
    @UsuarioId INT
AS
BEGIN

	DECLARE @PermisoArbol TABLE (
        Id INT,
        Nombre NVARCHAR(100),
        EsFamilia BIT
    );

    ;WITH PermisosUsuario AS (
        SELECT p.Id, p.Nombre, p.EsFamilia
        FROM Usuario_Permiso up
        JOIN Permiso p ON up.PermisoId = p.Id
        WHERE up.UsuarioId = @UsuarioId
        UNION ALL
        SELECT hijo.Id, hijo.Nombre, hijo.EsFamilia
        FROM Permiso_Permiso pp
        JOIN Permiso hijo ON pp.IdHijo = hijo.Id
        JOIN PermisosUsuario pu ON pp.IdPadre = pu.Id
    )
	insert into @PermisoArbol
    SELECT DISTINCT Id, Nombre, EsFamilia FROM PermisosUsuario;

	select Id, Nombre, EsFamilia from @PermisoArbol

    -- Tabla 2: Las relaciones de jerarquía SOLO entre los permisos de ese usuario
    SELECT DISTINCT pp.IdPadre, pp.IdHijo
    FROM Permiso_Permiso pp
    JOIN @PermisoArbol pu1 ON pp.IdPadre = pu1.Id
    JOIN @PermisoArbol pu2 ON pp.IdHijo = pu2.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerBitacoraPorId]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. SP para OBTENER UN evento por ID
CREATE PROCEDURE [dbo].[sp_ObtenerBitacoraPorId]
    @Id INT
AS
BEGIN
    SELECT 
        b.Id, b.Fecha, b.UsuarioId, ISNULL(u.NombreUsuario, 'SISTEMA') AS NombreUsuario,
        b.Modulo, b.Operacion, b.Criticidad, b.Mensaje
    FROM Bitacora b
    LEFT JOIN Usuario u ON b.UsuarioId = u.Id
    WHERE b.Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDetallePedido]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ObtenerDetallePedido]
    @PedidoId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        dp.Id,
        dp.PedidoId,
        dp.ProductoId,
        dp.Cantidad,
        dp.PrecioUnitario,
        p.Nombre,
        p.Descripcion,
        p.UrlImagen,
        p.Tipo
    FROM DetallePedido dp
    INNER JOIN Producto p ON dp.ProductoId = p.Id
    WHERE dp.PedidoId = @PedidoId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerEmocionesDeProducto]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ObtenerEmocionesDeProducto]
    @ProductoId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        e.Id,
        e.Nombre,
        e.UrlImagen
    FROM Emocion e
    INNER JOIN ProductoEmocion pe ON e.Id = pe.EmocionId
    WHERE pe.ProductoId = @ProductoId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerEmocionPorId]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. SP para OBTENER UNA emocion por ID
CREATE PROCEDURE [dbo].[sp_ObtenerEmocionPorId]
    @Id INT
AS
BEGIN
    SELECT Id, Nombre, UrlImagen FROM Emocion WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPedidoPorId]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ObtenerPedidoPorId]
    @PedidoId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        UsuarioId,
        FechaPedido,
        Total,
        Estado,
        DireccionEnvioId
    FROM Pedido
    WHERE Id = @PedidoId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPermisoPorId]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_ObtenerPermisoPorId]
	@Id int
as
begin
	DECLARE @PermisoArbol TABLE (
        Id INT,
        Nombre NVARCHAR(100),
        EsFamilia BIT
    );

	with PermisoRecursivo(Id,Nombre,EsFamilia) as (

	select p.Id, p.Nombre, p.EsFamilia
	from Permiso p where p.Id = @Id

	Union all

	select hijo.Id, hijo.Nombre, hijo.EsFamilia
	from Permiso hijo
	join Permiso_Permiso pp on pp.IdHijo = hijo.Id
	join PermisoRecursivo pr on pp.IdPadre = pr.Id)

	insert into @PermisoArbol
	Select distinct Id,Nombre,EsFamilia from PermisoRecursivo;
	
	SELECT Id, Nombre, EsFamilia FROM @PermisoArbol;

	select pp.IdPadre, pp.IdHijo
	from Permiso_Permiso pp
	join @PermisoArbol pr1 on pp.IdPadre = pr1.Id
	join @PermisoArbol pr2 on pp.IdHijo = pr2.Id
end

	

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerProductoPorId]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. SP para OBTENER UN producto por ID
CREATE PROCEDURE [dbo].[sp_ObtenerProductoPorId]
    @Id INT
AS
BEGIN
    SELECT 
        p.Id, p.Nombre, p.Descripcion, p.Precio, p.Stock, p.UrlImagen, p.Tipo,
        l.Autor, l.Editorial, l.ISBN,
        m.Director, m.Productora, m.AnioLanzamiento
    FROM Producto p
    LEFT JOIN Libro l ON p.Id = l.Id AND p.Tipo = 'Libro'
    LEFT JOIN Pelicula m ON p.Id = m.Id AND p.Tipo = 'Pelicula'
    WHERE p.Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUsuarioPorEmail]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ObtenerUsuarioPorEmail]
    @Email NVARCHAR(200)
AS
BEGIN
    SELECT Id, NombreUsuario, Email, PasswordHash, IntentosFallidos, Bloqueado
    FROM Usuario WHERE Email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUsuarioPorId]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ObtenerUsuarioPorId]
    @Id INT
AS
BEGIN
    SELECT Id, NombreUsuario, Email, PasswordHash, IntentosFallidos, Bloqueado
    FROM Usuario WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VaciarHijosDeFamilia]    Script Date: 11/17/2025 1:10:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =======================================================
-- === Stored Procedures para gestionar la jerarquía   ===
-- =======================================================

-- Vacía los hijos de una familia para luego reinsertarlos.
-- Esto simplifica la lógica de "sincronizar" los hijos.
CREATE PROCEDURE [dbo].[sp_VaciarHijosDeFamilia]
    @IdPadre INT
AS
BEGIN
    DELETE FROM Permiso_Permiso WHERE IdPadre = @IdPadre;
END
GO
USE [master]
GO
