/* src/App.css o Global.css */

/* Restablecimiento básico */
body {
  background-color: #f5f5f5; /* Fondo gris claro */
}

.login-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
}

.login-content {
  flex-grow: 1; /* Permite que el contenido principal crezca */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding: 20px;
}
